.chief-section{
    /* background-color: red; */
    /* height: 100vh; */
    padding: 40px 0px;
    width: 100vw;
}

.chief-card{
    width: 400px;
    /* padding: 15px; */
    height: 300px;
    background-color: white;

}

.highlight-new{
    color: #2BB32A;
}

.image{
    background-color: red;
    width: 100%;
    height: 50%;
}

.card-desc{
    padding: 10px;
    /* height: 300px; */
}

.card-groups{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}

.error{
    color: white;
    text-align: center;
}
